.container{
    text-align: center;
    margin-top: 30px; 
}
table{
    margin: auto;
}
input{
    border:2px solid black;
    border-radius: 15px;
    font-size: 35px;

}
button{
    font-size: 23px;
    background: rgb(221, 214, 214);
    width: 102px;
    height: 65px;
    border:0;
    border-radius: 30px;
    cursor: pointer;
    margin: 4px;
    transition: all 200ms ease;
}
button:hover{
    transform: scale(1.1);
}
.calculator{
    
    border-radius: 40px;
    padding: 30px;
    display: inline-block;
    background-color: grey;
   
   
}